body{
    background-color: #fff1ef;
    font-family: 'Raleway', sans-serif;
}

.header_button{
    display: inline-block;
    padding:15px;
    background-color: #ffffff;
}
.header_button:hover{
    background-color: #ffd4db;
}

.sidebar{
    width: 30%;
    float:left;
    position: relative;
    padding: 0;
}

#profile{
    position: absolute;
    height: 300px;
    Width: 100%;
    text-align: center;
    background-color: #ffffff;
}

#stats{
    position: absolute;
    top:300px;
    background-color: #ffd4db;
    width:100%;
    height: 400px;
}

.body{
    padding-right: 20px;
}

img{
    width: 150px;

}

.upperStage{
    width: 70%;
    height: 300px;
    float:right;
    background-color:  lightpink;
    padding: 0;
    position: relative;
}

.lowerStage{
    width: 70%;
    height: 400px;
    float:right;
    background-color:  lightpink;
    padding: 0;
    position: relative;
}

.section{
    display: inline-block;
}

.float{
    float: left;
    padding: 20px;
}

.card{
    display: inline-block;
    text-align: center ;
    width: 33%;
    font-style: italic;
}

.card img{
    border: 3px solid #ffffff;
}

ul{
    padding-left: 40px;
}

li{
    padding-bottom: 10px;
}

p{
    padding-left: 20px;
}

h2{
    padding-left: 20px;
}
.upper{
    position: absolute;
    height: 50%;
    width:100%;
}

.lower{
    position: absolute;
    top: 10px;
    height: 390px;
    width: 100%;
    text-align: center;
}

.profilePic{
    padding-top: 20px;
    width: 225px;
}