h1{
    font-family: Lato;
    color: plum;
}
figure{
    font-family: Lato;
    font-size: small;
    font-style: italic;
    color: black;
}
form{
    font-family: Lato;
    color: black;
}
p{
    font-family: Lato;
    color: black;
}
a{
    font-family: Lato;
    font-weight: 500;
    color: purple;
    
}